<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/home.css')}}">
    <script src="{{url_for('static', filename='javascript/home.js')}}"></script>

</head>

<title>wegotfight</title>




<body>
    <div class="menu" id="menu">
        <div class="header" id="header">
            <a href="/"><p>HOME</p></a>
            <a href="/test"><p>About</p></a>
            <a href="/test"><p>Posts</p></a>
        </div>
        <button onclick="hamburger()"><img class="icon" id="hamburger"
                src="{{url_for('static', filename='images/round_hamburger_menu_burger_icon_132782.svg')}}"></button>
    </div>
    <form method="POST">
        <label name="postcode">Postcode</label>
        <input name="postcode"></input>
        <input type="submit">
    </form>

</body>